[submodule "lisp/magit-gerrit"]
	path = lisp/magit-gerrit
	url = https://github.com/aarnej/magit-gerrit.git
[submodule "lisp/robot-mode"]
	path = lisp/robot-mode
	url = https://github.com/aarnej/robot-mode.git
[submodule "lisp/emacswiki.org"]
	path = lisp/emacswiki.org
	url = https://github.com/aarnej/emacswiki.org
[submodule "lisp/magit"]
	path = lisp/magit
	url = https://github.com/magit/magit.git
