*~
recentf*
auto-save-list/
elpy/
straight/
transient/
server/
projectile-bookmarks.eld
ido.last
.cache
.lsp-session-v1
forge-database.sqlite
projectile.cache
tramp
.log/
url/
games/
eln-cache/
.mc-lists.el
